ul.nav li {
   margin: 0;
}

#wrapper {
   max-width: 900px;
   margin: 60px auto 30px;
   padding: 0 60px 60px 60px;
   position: relative;
}

ul {
   margin: 0 0 0 15px;
   position: relative;
}

li {
   margin: 0 0 5px 0;
   font-size: 13px;
}

p {
   font-size: 13px;
}

.clear {
   clear: both;
}

a {
   color: #444;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: normal;
}

h3 {
   font-weight: bold;
   font-size: 14px;
}

h2.sectionHead {
   clear: both;
   font: bold 20px/12px 'verdana', sans-serif;
   margin: 20px -60px 30px;
   border-left: 52px solid #444;
   color: #444;
   padding: 1px 0 0 8px;
   letter-spacing: -2px;
   text-transform: uppercase;
   position: relative;
}


#bio {
   position: relative;
}

#bio h4 {
   padding: 0 10px 10px 0;
}

#recommend h4 {
   padding: 0 10px 20px 0;
}

ul#recommends li {
   margin: 0 0 30px 0;
   clear: both;
}

ul#recommends li>h3 {
   background: #fafafa;
   color: #ccc;
   padding-left: 5px;
   line-height: 25px;
   margin: 0 0 30px -5px;
}

ul#skills {
   margin: 0;
   width: 100%;
   overflow: hidden;
}


ul#skills li {
   position: relative;
   background-color: #444;
   color: #fff;
   font: bold 9px/20px sans-serif;
   letter-spacing: 1px;
   margin-bottom: 3px;
   padding: 3px 1.1428571428571428% 0;
   text-transform: uppercase;
   z-index: 1;
}

ul#skills li:after {
   content: "";
   position: absolute;
   top: 0;
   right: 5px;
   line-height: 26px;
   width: 50px;
   text-align: right;
   color: #aaa;
}

ul#skills li.s100:after {
   content: "100%";
}

ul#skills li.s90:after {
   content: "90%";
}

ul#skills li.s80:after {
   content: "80%";
}

ul#skills li.s70:after {
   content: "70%";
}

ul#skills li.s60:after {
   content: "60%";
}

ul#skills li.s50:after {
   content: "50%";
}

ul#skills li.s40:after {
   content: "40%";
}

ul#skills li.s30:after {
   content: "30%";
}

ul#skills li.s20:after {
   content: "20%";
}

ul#skills li.s10:after {
   content: "10%";
}

ul#skills li:hover {
   background: #222;
}

li.s100 {
   width: 97.71428571428571%;
}

li.s90 {
   width: 87.71428571428571%;
}

li.s80 {
   width: 77.71428571428571%;
}

li.s70 {
   width: 67.71428571428571%;
}

li.s60 {
   width: 57.714285714285715%;
}

li.s50 {
   width: 47.714285714285715%;
}

li.s40 {
   width: 37.714285714285715%;
}

li.s30 {
   width: 27.714285714285715%;
}

li.s20 {
   width: 17.714285714285715%;
}

li.s10 {
   width: 7.714285714285714%;
}


div.section ul {
   margin: 0;
   list-style: none;
}

div.section ul li {
   margin: 0 0 20px 0;
   clear: both;
}

div.section ul li p {
   float: right;
   width: 70%;
}

.details {
   float: left;
   width: 30%
}

.details h3 {
   line-height: 1.2em;
   margin: 0;
}

.details h4 {
   font-size: 13px;
   margin: 0;
}

.details h5 {
   font-style: italic;
   font-size: 0.83em;
   margin: 0;
   padding: 0;
}

.details div.section ul li p {
   float: right;
   width: 70%;
   margin-bottom: 15px;
}

ul#attributesList {
   padding-bottom: 10px;
}

ul#attributesList li {
   margin: 0 0 10px 0;
}